.data-imc {
  padding: 20px;
}

.table {
  background-color: var(--table-primary-color);
}

.table-header {
  background-color: var(--table-header-color);
}

.table-row:nth-of-type(odd) {
  background-color: var(--table-secondary-color);
}

.table-row::last-child td,
.table-row:last-child th {
  border: 0;
}
