.userRegister-main {
  background-color: var(--white);
  text-align: -webkit-center;
  min-height: 730px;
  align-items: center;
  justify-content: center;
  display: grid;
}

.userRegister-title {
  margin: 0;
  padding: 30px;
}

.user-registration {
  display: inline-flex;
  align-items: center;
}

.plan {
  margin-left: 100px;
}

.button-register {
  justify-self: center;
}
